
#webmain{ width:100%;  overflow:hidden;}
#main{ width:998px; margin-left:auto; margin-right:auto;}

.appbox .bar{ height:36px; line-height:40px; overflow:hidden; }
.appbox .box1{ width:988px; overflow:hidden; }
.appbox .box2{ width:710px; float:left; overflow:hidden;  }
.appbox .box3{ width:278px; float:left; overflow:hidden;  }

.box1 .bar{ width:953px; padding-left:35px; background-image:url(Images/imgbg.png); font-size:14px; font-weight:bold;}
.box2 .bar{ width:674px; padding-left:35px; background-image:url(Images/imgbg.png);border-right:solid 1px #c4d5df; font-size:14px; font-weight:bold;}
.box3 .bar{ width:244px; padding-left:35px; background-image:url(Images/imgbg.png); font-size:14px; font-weight:bold;}

.appbox_border{ width:998px; overflow:hidden; margin-top:10px; background-image:url(Images/box_border.png); background-repeat:repeat-y;}
.appbox_border_bottom{ width:998px; height:5px; margin-bottom:-5px; overflow:hidden;background-image:url(Images/box_border_bottom.png);}

.appbox{ width:988px; margin-left:auto; margin-right:auto; overflow:hidden; background-color:White; border:solid 1px #c4d5df; border-top-width:0px;}
.appbox .box_title{ width:953px; height:36px; line-height:40px; overflow:hidden; color:#0f4374;  padding-left:35px; background-image:url(Images/imgbg.png); font-size:12px; }
.appbox .box_title .b_name{ width:400px; height:36px; line-height:40px;font-size:12px; float:left; }
.appbox .box_title .b_more{ width:100px; height:36px; line-height:40px;font-size:12px; font-family:宋体; text-align:right; padding-right:10px; float:right;}
.appbox .box_title2{ width:973px; height:36px; line-height:40px; overflow:hidden; color:#0f4374;  padding-left:15px; background-image:url(Images/titlebg.png); font-size:12px; }
.appbox .more{ width:600px; height:36px; line-height:40px; font-size:12px; font-weight:100;  color:#666666; text-align:right; overflow:hidden; position:absolute; *margin-top:-13px; }
.appbox .box_info{ width:988px; overflow:hidden;}
.appbox .box_info .row_dashed{ width:968px; margin-left:auto; margin-right:auto; overflow:hidden; padding:5px 0px; border-bottom:dashed 1px #d4d3d0;}
.appbox .box_info .row_dashed .left{ width:45px; height:24px; line-height:24px; float:left; font-weight:bold; color:#333333;}
.appbox .box_info .row_dashed .right{ width:923px; line-height:20px; float:right;}
.appbox .box_info .row_dashed .right div{ width:83px; height:24px; line-height:24px; float:left;}
.appbox .box_info .row_dashed .right a{ padding:2px 5px; color:#0f4374; cursor:pointer;}
.appbox .box_info .row_dashed .right a:hover{ color:Red;}
.appbox .box_info .row_dashed .right .sel a{ padding:2px 5px; background-color:#0f4374; color:#FFFFFF;}
.appbox .box_info .app_info{ width:197px; height:67px; overflow:hidden; padding:18px 25px 19px 25px; float:left; }
.appbox .box_info ._move{ background-image:url(Images/box4bg.png); background-position:center; background-repeat:no-repeat;}

.app_info .img{ width:67px; height:67px; float:left; cursor:pointer; }
.app_info .info{ width:119px; padding-left:10px; float:left; line-height:22px; color:#5d5d5d;}
.app_info .info a{ color:#1d4665; font-weight:bold;}
.app_info .info a:hover{ color:Red;}
.app_info .star{ width:110px; height:22px; position:absolute; margin-left:115px; *margin-left:-85px; margin-top:22px; *margin-top:20px;}

.appbox .details{ width:988px; overflow:hidden;}
.appbox .details .d_left{ width:235px; min-height:600px; float:left; overflow:hidden; background-color:#eff4f7;}
.appbox .details .d_right{ width:752px; overflow:hidden; float:left; border-left:solid 1px #c7d7e1;}
.d_left .d_info{ width:176px; padding:20px 30px 10px 29px; position:relative; border-bottom:solid 1px #c7d7e1;}
.d_left .d_info .img{ width:175px; height:175px; position:relative;}
.d_left .d_info .info{ width:176px; padding-top:10px; overflow:hidden; line-height:25px;}
.d_left .d_info .info .open{ width:17px; height:14px; background-image:url(Images/iconbg.png); background-repeat:no-repeat; background-position:-240px 0px; _background-position:-240px 6px;}
.d_score{ width:201px; overflow:hidden; padding:10px 17px; background-image:url(Images/scorebg.png); background-repeat:no-repeat; background-position:center 10px; border-bottom:solid 1px #c7d7e1;}
.d_score .column{ width:200px; margin-bottom:10px; overflow:hidden; color:#ffff00;}
.d_score .column1{ width:110px; text-align:center; line-height:20px; font-size:12px; padding-top:5px; float:left;}
.d_score .column2{ width:80px; text-align:center;  line-height:50px; font-size:24px; float:left;}
.d_score .row{ width:190px; height:22px; line-height:22px; padding-left:10px; position:relative; color:#585a5b;}
.d_top{ width:235px; border-bottom:solid 1px #c7d7e1; overflow:hidden;}


.d_top .tabs{ width:80px; height:27px; position:absolute; margin-top:6px;*margin-top:-4px; margin-left:140px; font-size:12px;}
.d_top .tabs .tab1{ width:40px; height:27px; line-height:27px; text-align:center; float:left; cursor:pointer; background-image:url(Images/imgbg.png); background-position:-590px -80px;}
.d_top .tabs .tab2{ width:40px; height:27px; line-height:27px; text-align:center; float:left; cursor:pointer;background-image:none; font-weight:100;}
.d_top .bar{ width:225px; height:33px; padding-left:10px; line-height:33px; font-weight:bold; color:#386194; background-image:url(Images/imgbg.png); background-position:-100px -3px; }
.d_top .topbox{ width:235px; overflow:hidden;}
.d_top .brow{ width:195px; height:28px; line-height:28px; padding-left:40px; overflow:hidden; color:#888888; background-image:url(Images/iconbg.png); background-repeat:no-repeat;}
.d_top .d_applist{ width:235px; overflow:hidden;}
.d_top .d_applist .app_info{ width:205px; height:67px; padding:10px 15px; overflow:hidden;}


.d_right .d_heard{ width:730px; padding:10px; overflow:hidden;}
.d_right .d_heard .d_title{ width:635px; padding:5px 10px; overflow:hidden; line-height:30px; color:#0f4374; float:left;}
.d_right .d_heard .d_code{ width:75px; height:75px; float:right;}
.d_right .infotabs{ width:752px; height:40px; overflow:hidden; margin-top:30px;}
.d_right .infotabs div{ float:left; line-height:37px; font-size:14px; text-align:center;}
.d_right .infotabs .tab0{ width:30px; height:38px; border-bottom:solid 1px #c7d7e1;}
.d_right .infotabs .tab1{ width:130px; height:37px; text-align:center; border:solid 1px #c7d7e1; font-weight:bold; color:#333333; border-bottom-width:0px;line-height:37px; margin-left:-1px;}
.d_right .infotabs .tab2{ width:130px; height:37px; text-align:center; border:solid 1px #c7d7e1; cursor:pointer; background-color:#eff4f7; color:#707070; margin-left:-1px;}
.d_right .infotabs .tab3{ width:198px; height:38px; border-bottom:solid 1px #c7d7e1;}
.d_right .conter{ width:722px; padding:15px; line-height:24px; min-height:400px;_height:400px; overflow: visible;}
.d_right .conter p{ text-indent:2em;}
.d_right .conter .editdesc{ font-size:14px; border:solid 1px #CCCCCC; background-color:#f7fcff; padding:10px;}
.d_right .conter .imglist{ width:700px; text-align:center; padding-top:20px;}
.d_right .conter .imglist img{ margin-bottom:10px; padding:3px; border:solid 1px #CCCCCC;}
.d_right .conter .appimgtitle{ padding:10px; line-height:30px; font-weight:bold; overflow:hidden; text-align:left;}
.d_right .conter .appimgtab{ width:120px; height:30px; float:left; border:solid 1px #999999; margin-bottom:10px;}
.d_right .conter .appimgtab .tab1{ width:60px; line-height:30px; text-align:center; float:left; cursor:pointer; color:White; background-color:#999999;}
.d_right .conter .appimgtab .tab2{ width:60px; line-height:30px; text-align:center; float:left; cursor:pointer; color:#999999; background-color:White;}



.app_info_desc{ width:712px; padding:20px; overflow:hidden;}
.app_info_desc .desc_title{ line-height:30px; font-size:26px; color:#0f4374;}
.app_info_desc .desc_info{ padding:10px 0px; line-height:22px; color:#444444;text-indent:2em;}
.app_info_desc .desc_btn_reply{ text-align:right; padding-top:10px;}


/**  列表  **/
.app_list2{ padding:10px; overflow:hidden;}
.app_list2 .row{ padding:10px 0px; overflow:hidden; border-bottom:dashed 1px #c7d7e1;}
.app_list2 .row .row_left_128{ width:108px; height:108px; padding:0px 10px; float:left;}
.app_list2 .row .row_right_600{ width:600px; float:right;}
.app_list2 .row .row_right_600 .row_title{ line-height:30px; font-size:20px; color:#0f4374; font-weight:bold;}
.app_list2 .row .row_right_600 .row_desc{ line-height:22px; padding:5px 0px; color:#444444;}


/** 评论 **/
.comment{ width:732px; padding:10px; overflow:hidden;}
.comment .c_row{ width:732px; padding:5px 0px; overflow:hidden; border-bottom:dashed 1px #c7d7e1;}
.comment .c_row .star{ width:110px; height:22px; position:absolute; margin-left:120px; *margin-top:-5px;}
.comment .c_row .c_row_left{ width:200px; padding-left:5px; height:24px; line-height:24px; float:left; color:#AAAAAA;}
.comment .c_row .c_row_right{ width:480px; padding-right:5px; height:26px; line-height:26px; float:right; color:#AAAAAA; text-align:right;}
.comment .c_row .c_row_info{ width:100%; font-size:15px; padding:5px; line-height:24px; overflow:hidden; float:left; color:#333333;}
.comment .c_row .c_row_reply{ width:700px; padding:5px; overflow:hidden; border:solid 1px #c7d7e1; background-color:#f5f5f5; margin-left:auto; margin-right:auto; }
.comment .reply{ width:722px; padding:5px; background-color:#35638b;}
.comment .reply .r_title{ width:720px; height:30px; line-height:30px; color:White; font-weight:bold;}
.comment .reply .r_box{ width:700px; background-color:#f7f7f7; padding:6px 11px;}
.comment .reply .r_box .r_b_row{ width:700px; padding:5px 0px; color:#444444; }


.page{ width:100%; padding:20px 0px; overflow:hidden;}
.page li{display:block;float:left;width:30px;width:auto!important;min-width:30px;}
.page a{border:solid 1px #ccc; padding:3px 7px; color:Black; background-color:White; margin-right:5px; cursor:pointer; font-family:宋体;}
.page a:hover{border:solid 1px #bdbdbd;color:White; background-color:#6c97ca;}
.page .sela{border:solid 1px #bdbdbd; color:White; background-color:#6c97ca;}
.page span{ padding:3px 7px; color:White; }

.page2{ width:100%; overflow:hidden; text-align:right;}
.page2 span{ color:#0f4374;}
.page2 a{border:solid 1px #dcdcdc; padding:3px 7px; color:#464d60; background-color:White; margin-right:5px; cursor:pointer;}
.page2 a:hover{ color:White; background-color:#464d60;}
.page2 .sela{ color:White; background-color:#464d60;}
.page2 label{border:solid 1px #dcdcdc; padding:3px 7px; color:#dcdcdc;background-color:White; margin-right:5px;}
 
.scorebar{ width:160px; height:24px; position:absolute; margin-left:40px; margin-top:0px; }
.scorebar .sbarbg{ width:120px; height:8px; background-color:#d7d7d7; overflow:hidden; z-index:0; margin-top:8px; float:left; position:absolute;}
.scorebar .sbar{ width:0px; height:8px; overflow:hidden; background-color:#a00000; margin-top:8px; float:left; z-index:1; position:absolute; }
.scorebar .snum{ width:30px; height:24px; line-height:24px; padding-left:10px; float:right;}

















.share{ width:722px; height:30px; line-height:30px;_height:23px;  _padding-top:7px; background-color:#ffffcc; padding-left:30px; border-top:solid 1px #dedeb7;border-bottom:solid 1px #dedeb7;}
.share a{ height:16px; line-height:16px; padding:1px 20px; background-image:url(Images/iconbg.png); background-repeat:no-repeat; }
.share .xlwb{ background-position:-250px -150px;}
.share .txwb{ background-position:-250px -170px;}
.share .kxw{ background-position:-250px -190px;}
.share .rrw{ background-position:-250px -210px;}
.share .qqkj{ background-position:-250px -230px;}
.share .db{ background-position:-250px -250px;}

.title_tabs{ width:250px; position:absolute; margin-top:9px;*margin-top:-5px;_margin-top:-3px; margin-left:750px;}
.title_tabs .tab1{ width:62px; height:27px; line-height:29px; padding-left:10px; float:left; text-align:center; color:#0f4374; background-image:url(Images/iconbg.png); background-position:-60px -30px; background-repeat:no-repeat; font-weight:bold;}
.title_tabs .tab2{ width:62px; height:27px; line-height:29px; padding-left:10px; float:left; text-align:center; color:#666666; background-image:url(Images/iconbg.png); background-position:-60px -70px; background-repeat:no-repeat; cursor:pointer;}


.ad1{ width:990px; height:100px; background-color:#FF0; margin-left:auto; margin-right:auto; margin-top:10px;}
.ad2{ width:252px; height:252px; margin-left:auto; margin-right:auto; border:solid 1px #cbcbcb; padding:1px;}
.footer{ height:40px; padding:20px 0px; line-height:25px; font-size:12px; color:#343434; text-align:center; margin-top:10px; background-image:url(Images/footerbg.png); background-repeat:repeat-x;}




.star .star1{ width:0px; height:23px; position:absolute; margin-left:0px; margin-top:0px; z-index:13; background-image:url(Images/iconbg.png); background-position:-60px 4px;}
.star .star2{ width:68px; height:23px; position:absolute; margin-left:0px; margin-top:0px; z-index:12; background-image:url(Images/iconbg.png); background-position:-130px 4px;}
.star .starnum{ width:38px; height:22px; line-height:22px; float:right; color:#8e4519; font-weight:bold; font-size:14px; display:none; }

.bigstar{ width:175px; height:31px; padding:10px 0px; position:relative;}
.bigstar .star1{ width:0px; height:31px; position:absolute; margin-left:0px; margin-top:0px; z-index:13; background-image:url(Images/iconbg.png); background-position:2px -370px; background-repeat:no-repeat;}
.bigstar .star2{ width:175px; height:31px; position:absolute; margin-left:0px; margin-top:0px; z-index:12; background-image:url(Images/iconbg.png); background-position:-173px -370px; background-repeat:no-repeat;}
.bigstar .star3{ width:175px; height:31px; position:absolute; margin-left:0px; margin-top:0px; z-index:14;}
.bigstar .star3 div{ width:35px; height:31px; float:left; cursor:pointer;}
.bigstar .starnum{ width:50px; height:31px; line-height:31px; margin-left:180px; }

.download{ width:176px; height:40px; cursor:pointer; background-image:url(Images/iconbg.png);background-position:0px -420px;}
.fee{  font-size:14px; color:#db5004; font-weight:bold;}


.ablum{ width:290px; height:139px; margin-left:-1px; background-repeat:no-repeat; padding:20px; text-align:center; float:left;}
.ablum img{ width:266px; height:112px; padding:1px; border:solid 1px #CCCCCC;}
.ablum .album_name{ width:200px; line-height:35px; margin:0 auto;}
.ablumbox{ margin-top:0px;}
.ablumbox .ablum{border-bottom-width:0px; border-top-width:0px;}
.ablumbox .app{ width:454px; height:118px; padding:20px; background-image:url(Images/appbox_bg.png); float:left;}
.ablumbox .appsel{background-image:url(Images/appbox_bg2.png);}
.album_details{ width:710px; padding:10px 20px; float:left;}
.album_details .title{ height:60px; line-height:30px; color:#344e80; padding-bottom:5px; } 
.album_details .info{ padding:10px 0px; min-height:100px; border-top:dashed 1px #c9c9c9;}
.album_details .info .album_img{ width:290px; height:120px; float:left; }
.album_details .info .album_img .imgbox{ width:266px; height:112px; padding:1px; border:solid 1px #CCCCCC;}
.album_details .info .desc{ width:420px; height:120px; float:left; line-height:24px; color:#0f4374; }

.applist .item{ width:270px; height:115px; float:left; padding:10px 15px; position:relative; overflow:hidden;}
.applist .item .row1{ width:270px; height:67px; overflow:hidden;}
.applist .item .row1 .img{ width:67px; height:67px; float:left; position:relative; cursor:pointer; }
.applist .item .row1 .info{ width:190px; padding-left:10px; float:left; line-height:22px; color:#5d5d5d;}
.applist .item .row1 .info a{ color:#5d5d5d; font-weight:bold;white-space:nowrap;}
.applist .item .row1 .info a:hover{ color:Red; text-decoration:underline;}
.applist .item .row1 .info .fee{ font-size:14px; color:#db5004; font-weight:bold;}
.applist .item .row2{ height:38px; padding:5px 0px;color:#5d5d5d; line-height:20px; overflow:hidden;}
.applist .item .star{ width:110px; height:22px; position:absolute; margin-left:115px; margin-top:24px;}
.applist .item .btndetails{ width:68px; height:23px; position:absolute; margin-top:46px; background-image:url(Images/imgbg.png); cursor:pointer;}

.ablumbox .item{ width:454px;}
.ablumbox .btndetails{ background-position:-510px -80px; margin-left:360px;}

.ablum .album_name a{ color:#0f4374;}
.appbox .box_title .b_more a{ color:#777777;}

.album_row{ background-image:url(Images/album_row_bg.png);}



